.MapOverview-Video
    position relative
    padding 16px
    background rgba(10,10,10,0.8)

    .close-button
        position absolute
        top -12px
        right -12px
        font-size 24px
        color rgb(220, 220, 220)
        border-radius 32px
        text-align center
        text-shadow 0 0 5px white
        padding -4px
        text-shadow 0 0 4px black

        :hover
            cursor pointer
            color rgb(255, 255, 255)
