.MapOverview-header
    position relative
    margin-bottom 15px
    text-shadow 1px 1px 0 black
    box-shadow 0 2px 4px black
    z-index 100
    text-align center
    // soft gradient
    background linear-gradient(135deg,
                               rgb(32, 50, 68),
                               rgb(46, 89, 94),
                               rgb(22, 86, 94)
                               )
    background-clip padding-box

    &:before
        pointer-events none
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-image linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.4) 20%,
                rgba(255, 255, 255, 0.05) 50%,
                rgba(0, 0, 0, 0.4) 80%)

    .header-title
        // stripe overlay
        background-image: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 60px,
            rgba(0, 0, 0, 0.25) 60px,
            rgba(0, 0, 0, 0.2) 90px,
            rgba(0, 0, 0, 0.25) 120px
        );
        border-bottom 2px solid rgb(86, 104, 118)

        .header-title-inner
            // horizontal fade-in-out overlay
            // background-image linear-gradient(
            //     90deg,
            //     rgba(0, 0, 0, 0.4) 20%,
            //     rgba(255, 255, 255, 0.05) 50%,
            //     rgba(0, 0, 0, 0.4) 80%)
            padding 0 30px
            // border-bottom 1px solid rgb(86, 104, 118)

        .header-container
            padding-top 8px

        h1
            margin-top 0
            font-weight bold
            margin-bottom 0
            text-shadow 3px 3px 0 rgba(0, 0, 0, 0.65)

            a
                color inherit
                &:hover
                    color rgb(220, 220, 220)

            small
                color rgb(180, 180, 180)
                text-shadow 2px 2px 0 rgba(0, 0, 0, 0.65)

    .MapOverview-sub-header
        padding 6px 0

    .MapOverview-header-video-buttons
        display block
        position absolute
        right 0
        bottom 0

        .fa-youtube
            font-size 32px
            vertical-align middle

        .video-button
            cursor pointer

            &.disabled
                opacity 0.3
                cursor not-allowed

    .map-info-list-container
        display inline-block
        background linear-gradient(135deg,
                                   rgb(50, 50, 50),
                                   rgb(80, 80, 80),
                                   rgb(90, 90, 90)
                                   )
        box-shadow 1px 1px 4px inset rgba(0, 0, 0, 0.7)
        border 2px solid rgb(86, 104, 118)
        border-bottom-color rgba(255, 255, 255, 0.05)
        margin-top 8px
        margin-bottom -2px
        border-radius 8px 8px 0 0
        border-bottom 0

    .map-info-list
        padding 3px 20px
        list-style none
        margin-bottom 0
        border-radius 8px 8px 0 0
        background radial-gradient(rgba(0, 0, 0, 0.2) 15%, transparent 16%) 0 0,
                   radial-gradient(rgba(0, 0, 0, 0.2) 15%, transparent 16%) 8px 8px,
                   radial-gradient(rgba(255, 255, 255, 0.05) 15%, transparent 20%) 0 1px,
                   radial-gradient(rgba(255,255,255,.05) 15%, transparent 20%) 8px 9px
        background-size 16px 16px

        li
            display inline
            vertical-align middle

            .tf-icon
                vertical-align text-top

            &:not(:first-child):before
                content: ' | '
