.MapOverview-MapOverviewNav
    position sticky
    top 200px

    ul.nav
        li.divider
            height 2px

        li a
            &:hover
                background rgba(255, 255, 255, 0.4)

            &.active
                background rgba(144, 244, 255, 0.4)
