.MapOverview-MapOverviewNav
    border-radius 8px
    font-weight bold
    width 270px
    margin-bottom 15px
    background linear-gradient(135deg,
                               darken(rgba(45,70,95,0.9), 10%),
                               darken(rgba(64,123,130,0.9), 20%),
                               darken(rgba(31,120,130,0.9), 10%)
                               )
    background-clip padding-box
    padding 15px 0

    box-shadow 1px 1px 8px black
    text-shadow 1px 1px 0 black
    border 1px solid rgba(255,255,255,0.2)

    .nav-stacked>li+li
        margin-top 0

    li a
        line-height 20px
        padding 8px 30px
        border-radius 0
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

        small
            color rgb(210, 210, 210)
            font-weight normal

        .badge
            background-color rgba(255, 255, 255, 0.3)
    //     margin-top 6px
    //     margin-bottom 6px
    //     border-radius 14px

    li.category
        padding 0 30px
        font-size 10px
        // font-weight normal
        color rgb(210, 210, 210)
        user-select none
        // &:before, &:after
        //     content '-'

    li.divider
        margin-top 0
        height 8px


    ul.nav

        li a
            &:hover, &:focus
                background rgba(144, 244, 255, 0.3)

            &.active
                background rgba(144, 244, 255, 0.4)

    .nav-nested
        // font-size 90%
        margin-top 0px
        // padding-left 8px
        margin-bottom 8px

        > li > a
            padding-left 45px
            padding-top 4px
            padding-bottom 4px

        li.category
            padding-left 45px
        //     margin-bottom 2px
        //     margin-top 2px
