.MapOverview-MapAuthorsView
    // max-width 600px
    ul
        list-style none
        padding-left 0

        li
            box-shadow 0 0 4px rgba(0, 0, 0, 0.5)
            // display inline-block
            padding-right 20px
            margin-bottom 6px
            background rgba(255, 255, 255, 0.1)
            border-radius 20px
            // margin-right 4px
            width 500px

            font-weight bold

            .steamavatar
                height 30px
                width 30px
                border-radius 50%
                box-shadow 0 0 4px rgba(0, 0, 0, 0.5)

            .currentname
                font-weight normal
