body
    padding-top 70px
    // background rgb(240, 240, 240)
//     background-image url('https://raw.githubusercontent.com/ddormer/bdm/master/bdm/static/images/cover.png')
//     background-position center
//     background-repeat no-repeat

table
    td.shrink
        white-space nowrap
    td.expand
        width 99%

.tf-icon
    background-size cover
    display inline-block
    vertical-align middle
    &.sm
        width 32px
        height 32px

    &.mini
        width 24px
        height 24px

    &.demoman
        background-image url('/static/img/icons/demoman.png')

    &.soldier
        background-image url('/static/img/icons/soldier.png')

footer
    box-shadow 0 0 4px black
    background-color rgba(0, 0, 0, 0.4)
    .container
        background-color: #ededed
        min-height 300px
        background-image url('https://raw.githubusercontent.com/ddormer/bdm/master/bdm/static/images/cover.png')
        background-repeat no-repeat
        background-position center top

// .app-container
//     font-family 'Montserrat'

#navbar-main
    background #222
    // border-bottom 0
    .navbar-brand
        font-family 'Montserrat'
        color rgb(0, 180, 220)
        &:hover
            color rgb(0, 220, 250)

.app-search-container
    position relative

    .app-search-input
        width 180px
        display inline-block
        padding 15px
        background rgb(15, 15, 15)
        outline 0
        border 0
        color #9d9d9d
        &:focus
            color rgb(240, 240, 240)

    .list-group
        min-width 300px
        max-height 400px
        overflow-y auto
        li
            padding 8px 12px
            min-width 80px
        & li:first-child
            border-top-left-radius 0
            border-top-right-radius 0
        position absolute
        top calc(100% + 1px)
        right 0

.table-vertical-align
    & td
        vertical-align middle !important

.app-tooltip
    position absolute
    z-index 1070
    display block
