
.map-overview-bg
    position fixed
    top 0
    left -8px
    right -8px
    display block
    z-index -1
    height 1000px
    background-position top
    background-repeat no-repeat
    background-size cover
    // filter blur(1px)
    // opacity 0.9

.map-content-container
    text-shadow 0 0 2px black
    margin-bottom 15px
    width 100%
    background rgba(0, 0, 0, 0.8)
    color white
    padding 20px 40px 40px 40px
    // font-family 'Montserrat'
    width 100%


.map-leaderboard-title
    display block
    position relative
    margin-top 5px
    margin-bottom 15px
    // border 1px solid black
    // background rgba(0, 0, 0, 0.8)
    text-shadow 0 0 8px black, 0 0 8px black, 0 0 8px black
    text-align center
    color white

    h2
        margin 0

.leaderboard-container
    padding 4px
    color rgb(220, 220, 220)
    background rgba(0, 0, 0, 0.8)
    margin-bottom 15px

.map-overview-header-container
    // padding 0

.map-overview-header
    // padding 20px 40px 40px 40px
    position relative
    z-index 100

    h1 small
        color rgb(180, 180, 180)

.map-video-buttons
    display block
    position absolute
    right 15px
    bottom 0

    .fa-youtube
        font-size 32px
        vertical-align middle

    .video-button
        cursor pointer

        &.disabled
            opacity 0.3
            cursor not-allowed

.map-leaderboard-header
    vertical-align middle
    text-align center

.map-leaderboard-list
    list-style none
    padding-left 0

    tbody
        & tr:not(:last-child)
            margin-bottom 8px

        & tr
            td
                padding 8px

                a
                    font-size 16px
                    color rgb(0, 180, 240)


            .steamavatar
                margin-right 4px

            .lb-rank
                font-size 125%
                text-align right

            &:hover
                background rgba(255, 255, 255, 0.1)

            &.lb-rank-1
                border 1px solid rgba(255, 215, 0, 0.3)
                // border-left none
                // border-right none
                color gold
                background rgba(255, 215, 0, 0.1)

                &:hover
                    background rgba(255, 215, 0, 0.15)

                .lb-rank
                    font-size 125%

                .steamavatar
                    // box-shadow 0 0 2px gold
                    // border-color gold
                    width 50px
                    height 50px

                td a
                    color gold

            &.lb-rank-2 .lb-rank
                color rgb(190, 190, 190)

            &.lb-rank-3 .lb-rank
                color #B87333


.lb-container
    background rgba(255, 255, 255,  0.1)
    // padding 0 16px

.leaderboard-avatar
    float left
    // margin-right 8px

.leaderboard-rank
    float right

.map-video-panel
    position relative
    padding 16px

.map-video-close
    position absolute
    top -12px
    right -12px
    font-size 24px
    color rgba(255, 255, 255, 0.8)
    border-radius 32px
    text-align center
    text-shadow 0 0 5px white
    padding -4px
    text-shadow 0 0 4px black

    &:hover
        cursor pointer
        color rgba(255, 255, 255, 1)

.leaderboard-zone-dropdown
    z-index 1000
    position absolute
    top calc(100% + 10px)
    left 50%
    transform translateX(-50%)
    min-width 160px
    padding-left 0
    background rgba(0, 0, 0, 0.9)
    border-radius 4px
    list-style none
    text-align left
    padding 5px 0
    box-shadow 0 0 4px rgba(0, 0, 0, 0.6)
    & > li
        padding 3px 20px

        &:hover
            cursor pointer
            // background rgba(50, 50, 50, 0.5)
            background rgb(0, 120, 170)

    & > hr
        margin 9px 0
        border-color rgb(100, 100, 100)

.leaderboard-pager
    margin-top 4px
    .lb-pager-btn
        // background rgba(255, 255, 255, 0.2)
        background none
        border none
        padding 4px 16px

        &:focus
            border none
            outline none

        &:hover
            background rgba(255, 255, 255, 0.2)

        &.prev
            float left

        &.next
            float right
