.map-list
    display flex
    flex-direction row
    flex-wrap wrap
    align-content flex-start
    align-items flex-start

.map-list-item
    position relative
    display inline-block
    height 90px
    min-width 320px
    max-width 33%
    flex 1 1 auto
    margin 1px
    background-color white
    background-position center
    background-size cover
    font-size 12px
    transition background-size 0.2s box-shadow 0.2s height 0.2s

    &:hover
        background-size 102.5%
        opacity 1.0
        cursor pointer

    &:hover > .map-list-item-overlay
        background rgba(0, 0, 0, 0.3)

        .map-zones, .map-author, .map-tiers
            opacity 1

.map-list-item-overlay
    padding 6px
    display block
    height 100%
    background rgba(0, 0, 0, 0.2)
    transition background 0.2s

    .map-zones, .map-author, .map-tiers
        opacity 1

.map-list-item-inner
    position relative
    height 100%
    display block
    color white
    font-size 14px
    font-weight bold

.map-name-container
    // font-family Montserrat
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    // background-color rgba(0, 0, 0, 0.7)
    border-radius 8px
    padding 4px 8px
    font-size 18px
    text-align center
    text-shadow 0 0 3px black, 0 0 3px black

.map-author
    display none
    position absolute
    bottom 0
    left 0
    text-shadow 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black
    font-size 13px


.map-tiers
    // display none
    // position absolute
    // top 0
    // right 0
    font-size 17px

    .tier-0
        color rgb(255,75,75)

    .tf-icon
        position relative
        height 28px
        width 28px

        .map-tier-inner
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            text-shadow 0 0 3px black, 0 0 3px black


.map-author
    margin-top 0.5em
