.steamavatar
    display inline-block

    border-width 3px
    border-style solid
    border-radius 4px
    // outline 1px solid black
    box-shadow 0 0 4px black

    &.mini
        border-width 2px
        width 28px
        height 28px

    &.small
        width 38px
        height 38px

    &.medium
        width 68px
        height 68px

    &.large
        width 188px
        height 188px

    &.offline
        border-color #706c6b

    &.online
        border-color #7bafd6

    &.in-game
        border-color #9bc861
