.MapOverview-LeaderboardContainer-Leaderboard-LeaderboardItem
    cursor pointer
    font-size 14px

    &:nth-of-type(odd)
        background rgba(255, 255, 255, 0.05)

    &:hover
        background rgba(255, 255, 255, 0.1)

    td
        padding 6px 12px

    .rank
        color rgb(150, 150, 150)
        text-align right

    .avatar
        padding-right 0
        text-align right

    .name
        padding-left 8px
        max-width 20px
        text-overflow ellipsis

        a
            color rgb(0, 180, 240)
            &:hover
                color rgb(0, 200, 255)
                text-decoration none

        .steamavatar
            margin-right 8px

    .duration
        font-family Droid Sans Mono
        font-weight bold
        text-align right

    .duration a
        color inherit

    .compared
        color rgb(150, 150, 150)
        font-size 12px

    .date
        text-align right
        color rgb(150, 150, 150)

    &.rank-1
        color gold
        background darken(rgba(255, 215, 0, 0.6), 75%)
        border 1px solid darken(rgba(255, 215, 0, 0.6), 50%)
        border-left 0
        border-right 0
        position relative

        td
            padding-top 8px

        &:before
            content

        &:hover
            background darken(rgba(255, 215, 0, 0.65), 70%)

        .rank, .date
            color darken(gold, 20%)

        .name a
            color gold

        .duration span
            border-bottom-color rgb(127, 107, 0)

    &.rank-1, &.rank-2, &.rank-3
        .rank
            text-shadow -1px 0 0 black

    &.rank-2 .rank
        color rgb(190, 190, 190)

    &.rank-3 .rank
        color #B87333
