.MapOverview-RunSelection
    display block
    position relative
    margin-bottom 15px
    text-align center
    margin-top 0
    // color rgb(240, 240, 240)

    .MapOverview-RunSelection-inner
        position relative
        display inline-block

    .run-selection-button
        margin 0
        padding 8px 20px
        // border 1px solid rgba(40, 40, 40, 0.8)
        // border 2px solid rgb(100, 100, 100)
        border 0
        border-radius 8px
        background linear-gradient(
            rgba(50, 50, 50, 1),
            rgba(20, 20, 20, 1)
        )
        font-size 20px
        opacity 0.9

        &:hover,&:focus
            opacity 0.95

    .MapOverview-RunSelection-dropdown
        position absolute
        top calc(100% + 10px)
        left 50%
        min-width 200px
        z-index 1000
        transform translateX(-50%)
        // background rgba(0, 0, 0, 0.9)
        // background linear-gradient(
        //     rgba(80, 80, 80, 0.8),
        //     rgba(80, 80, 80, 0.6))
        background rgba(50, 50, 50, 0.8)
        border 1px solid black
        border-radius 4px
        list-style none
        text-align left
        padding 10px 0
        box-shadow 0 0 4px rgba(0, 0, 0, 0.6)
        text-shadow 0 0 4px black
        & > li
            padding 3px 20px

            &:hover
                cursor pointer
                // background rgba(0, 120, 170, 0.5)
                background rgba(0, 0, 0, 0.4)

        & > hr
            margin 9px 0
            border-color black
