.Home-Servers-ServerItem
    padding 4px 8px

    td
        padding 10px

    .name .flag
        margin-right 8px

    .status
        // display none
        float right
        text-transform uppercase

        &.offline
            color rgb(255, 50, 50)

        &.online
            color rgb(0,150,0)

        a
            color inherit
